name: GMGPolarCI

on :
  schedule:
    - cron: "40 2 * * *"
  push:
    branches:
      - "main"
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  install-and-build:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        USE_MUMPS: [false, true]
    name: 'install-and-build (USE_MUMPS=${{matrix.USE_MUMPS}})'
    container:
      image: ghcr.io/gyselax/gyselalibxx_env:latest
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build
        with:
          use-mumps: ${{ matrix.USE_MUMPS }}
      
  run-unit-test:
    needs: install-and-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        USE_MUMPS: [false, true]
    container:
      image: ghcr.io/gyselax/gyselalibxx_env:latest
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test
        with:
          build-artifact: build-cpp-linux-gmgpolar
          use-mumps: ${{ matrix.USE_MUMPS }}

  codecov:
    if: github.event.pull_request.draft == false
    needs: [run-unit-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download cpp coverage report
        uses: actions/download-artifact@v4
        with:
          name: test-coverage-reports
          path: coverage
      - name: Download mumps cpp coverage report
        uses: actions/download-artifact@v4
        with:
          name: test-coverage-reports-mumps
          path: coverage-mumps
      - name: Deploy to codecov.io
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/coverage-filtered.info,coverage-mumps/coverage-filtered.info
          verbose: true          

  clang-format:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/gyselax/gyselalibxx_env:latest
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - name: Install clang-format v20
        run: |
          apt-get -qq update
          apt-get -qq -y install clang-format-20
        shell: bash
      - name: Check for clang-formatting
        run: |
          find -name *.cpp -o -name *.hpp -o -name *.h | xargs clang-format-20 --dry-run -Werror
        shell: bash
